/* This is a simple plugin to create motion blur effect that you can easily use on your sites and projects. */

.text--inner {
      transform: scale(1, var(--blur-amount, 1)) rotate(var(--blur-direction, 0));
}

.text--wrapper {
      filter: blur(calc(var(--blur-amount)*0.3px));
      transform: rotate(calc(0deg - var(--blur-direction, 0))) scale(1, calc(1/var(--blur-amount, 1)));
}
